configs/workflows/voice-transcribe-workflow.json
{
  "name": "OpenClaw Voice Transcription",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/2 * * * *"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Check Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "find /opt/openclaw/voice-inbox/ -name '*.wav' -o -name '*.mp3' -o -name '*.ogg' -o -name '*.m4a' -o -name '*.flac' 2>/dev/null | head -5",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Find Audio Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.stdout.trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Files Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\n# Process each audio file found\nFILES=\"{{ $json.stdout.trim() }}\"\nif [ -z \"$FILES\" ]; then exit 0; fi\n\nRESULTS=\"\"\nwhile IFS= read -r FILEPATH; do\n  if [ -f \"$FILEPATH\" ]; then\n    # Transcribe the file\n    TRANSCRIPT=$(/usr/local/bin/openclaw-transcribe \"$FILEPATH\" 2>/dev/null || echo \"[transcription failed]\")\n    FILENAME=$(basename \"$FILEPATH\")\n    RESULTS=\"${RESULTS}\\nFile: ${FILENAME}\\nTranscript: ${TRANSCRIPT}\\n---\"\n    # Move processed file to archive\n    mkdir -p /opt/openclaw/voice-inbox/processed\n    mv \"$FILEPATH\" \"/opt/openclaw/voice-inbox/processed/${FILENAME}\" 2>/dev/null || true\n  fi\ndone <<< \"$FILES\"\necho \"$RESULTS\"",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Transcribe Audio Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-voice-001",
              "name": "transcription",
              "value": "={{ $json.stdout.trim() }}",
              "type": "string"
            },
            {
              "id": "field-voice-002",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "field-voice-003",
              "name": "message",
              "value": "=**Voice Transcription** — {{ $now.format('YYYY-MM-DD HH:mm') }}\n\n{{ $json.stdout.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:18789/api/agent/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "mattermost"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "channelName",
              "value": "general"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Send to Mattermost via OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "command": "echo 'No audio files found in /opt/openclaw/voice-inbox/ — skipping'",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "No Files - Skip",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 420]
    }
  ],
  "connections": {
    "Check Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Find Audio Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Audio Files": {
      "main": [
        [
          {
            "node": "Files Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Files Found?": {
      "main": [
        [
          {
            "node": "Transcribe Audio Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Files - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio Files": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to Mattermost via OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "last",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "tag-openclaw-voice",
      "name": "openclaw-voice"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "openclaw-airgap",
    "notes": "Drop .wav or .mp3 files into /opt/openclaw/voice-inbox/ to trigger transcription. Enable this workflow after confirming faster-whisper is installed. Processed files are moved to /opt/openclaw/voice-inbox/processed/"
  },
  "id": "workflow-voice-transcribe",
  "pinData": {}
}
