configs/workflows/webhook-example.json
{
  "name": "OpenClaw Webhook Example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "openclaw-test-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "received_body",
              "value": "={{ JSON.stringify($json.body) }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "source_ip",
              "value": "={{ $json.headers['x-forwarded-for'] || 'localhost' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Add Timestamp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"received\": {{ JSON.stringify($json.received_body) }},\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"message\": \"OpenClaw webhook received your request successfully\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Add Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Timestamp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "last"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "tag-openclaw-example",
      "name": "openclaw-examples"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "openclaw-airgap"
  },
  "id": "workflow-webhook-example",
  "pinData": {}
}
